.ScaleDeskHamburger {
  animation: ScaleDeskHamburgerAnimation 1s infinite alternate;
}
@keyframes ScaleDeskHamburgerAnimation {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.8);
  }
}

/* .animationMobilHamburger {
  position: fixed;
  top: 0;
  right: 0;
  width: 500px;
  height: 250px;
  background-color: white;
  animation: animationMobilHamburgerMenu 0.5s;
} */
.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 97%;
  margin-top: 10px;
  background: #121212;
  color: white;
  transform: translateX(100%);
  transition: transform 400ms ease;
}

.menu.open {
  transform: translateX(0);
}
